<!DOCTYPE html>
<html>
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>Blog</title>
        <script type="text/template" id="blogDetail">

            <div class="blog-title text-center">
                    <%=  resultData.title %>
            </div>
            <div class="blog-summary">
                <p>
                     <%=  resultData.content %>
                </p>
            </div>
            <div class="blog-footer">
                <div>
                    <p class="inline-middle"><span class="headings">Author: </span><span><%=  resultData.author %></span></p>
                    <p class="inline-middle"><span class="headings">Date:</span><span><%=  new Date(resultData.lastModified) %></span></p>
                </div>
                <section class="comment-sec">
                    <p class="headings">Comments</p>
                    <% for(var i=0; i<resultData.comments.length; i++) {%>
                        <div class="comments">
                            <div class="comment-header">
                              <p class="inline-middle"><span class="color-green">Commented by: </span><span><%=  resultData.comments[i].user %></span></p>
                              <p class="inline-middle"><span class="color-green">Date: </span><span><%= new Date(resultData.comments[i].commentDate).getDay()+1 %>-<%= new Date(resultData.comments[i].commentDate).getMonth()+1 %>-<%= new Date(resultData.comments[i].commentDate).getFullYear() %>&nbsp;<%= new Date(resultData.comments[i].commentDate).getHours() %>:<%= new Date(resultData.comments[i].commentDate).getMinutes() %></span></p>
                            </div>
                            <div class="comment-content">
                               <%= resultData.comments[i].comment %>
                            </div>
                            <br>
                        </div>
                    <% }; %>     
                </section>
            </div>
        </script>

    </head>
    <body>
        <div class="wrapper">
            <header>
                <div>
                    Valuepicks
                </div>
            </header>
            <div class="blog-page">
            </div>
        </div>
        <div id="loading" class="text-center">
            <!-- <img src="img/loader.gif" alt="" width="50px;"> -->
             <div class="txt"></div>
             <div class="bg"></div>
        </div>
        <script type="text/javascript" src="cordova.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/underscore.js"></script>
        <script type="text/javascript" src="js/blog.js"></script>
    </body>
</html>
