<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>ValuePicks</title>
        <script type="text/template" id="titleDetail">
            <% for(var i=0; i<length; i++) {%>
                <section class="blog-details">
                    <div class="blog-content">
                            <div class="blog-title text-center" id="<%= resultData[i].id %>">
                               <%=  resultData[i].title %>
                            </div>
                            <div class="blog-summary">
                                <p class="headings">Summary</p>
                                <p>
                                    <%= resultData[i].summary20 %>
                                </p>
                            </div>
                            <div class="blog-footer">
                                <p><span>Author : &nbsp;&nbsp;&nbsp;&nbsp; <%= resultData[i].author %></span></p>
                                <div>
                                    <p class="inline-middle"><span>CommentsNumber : <%= resultData[i].commentCount %></span></p>
                                    <p class="inline-middle"><span>Date : <%= new Date(resultData[i].lastModified) %></span></p>
                                <p><span class="headings">Author: &nbsp;&nbsp;&nbsp;&nbsp;</span><span> <%= resultData[i].author %></span></p>
                                <div>
                                    <p class="inline-middle" style="margin-top:0;"><span class="headings">Comments: </span><span><%= resultData[i].commentCount %></span></p>
                                    <p class="inline-middle" style="margin-top:0;"><span class="headings">Date:</span><span> <%= resultData[i].lastModified %></span></p>
                                </div>
                            </div>
                    </div>
                </section>
            <% }; %> 
        </script>

    </head>
    <body>
        <div class="wrapper">
            <header>
                <div>
                    Valuepicks
                </div>
            </header>
            <div id="blog">
                
            </div>
             
       </div>
        <div id="loading" class="text-center">
            <!-- <img src="img/loader.gif" alt="" width="50px;"> -->
             <div class="txt"></div>
             <div class="bg"></div>
        </div>
        <script type="text/javascript" src="cordova.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/underscore.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
