<!DOCTYPE html>
<html>
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>ValuePicks</title>
        <script type="text/template" id="titleDetail">
            <% for(var i=0; i<length; i++) {%>
                <section class="blog-details">
                    <div class="blog-content">
                            <div class="blog-title text-center" id="<%= resultData[i].id %>">
                               <%=  resultData[i].title %>
                            </div>
                            <div class="blog-summary">
                                <p class="headings">Summary</p>
                                <p>
                                    <%= resultData[i].summary20 %>
                                </p>
                            </div>
                            <div class="blog-footer">
                                <p><span>Author : &nbsp;&nbsp;&nbsp;&nbsp; <%= resultData[i].author %></span></p>
                                <div>
                                    <p class="inline-middle"><span>CommentsNumber : <%= resultData[i].commentCount %></span></p>
                                    <p class="inline-middle"><span>Date : <%= new Date(resultData[i].lastModified) %></span></p>
                                    <p><span class="headings">Author: &nbsp;&nbsp;&nbsp;&nbsp;</span><span> <%= resultData[i].author %></span></p>
                               
                                </div>
                            </div>
                    </div>
                </section>
            <% }; %> 
        </script>

    </head>
    <body>
        <div class="wrapper">
            <header>
                <div>
                    Valuepicks
                </div>
            </header>
            <div id="blog">
                
            </div>
             
       </div>
        <div id="loading" class="text-center">
            <!-- <img src="img/loader.gif" alt="" width="50px;"> -->
             <div class="txt"></div>
             <div class="bg"></div>
        </div>
        <script type="text/javascript" src="cordova.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/underscore.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
